<form (ngSubmit)="enviarFiltros(formulario.value)"  autocomplete="off" [formGroup]="formulario" #form>

    <!-- cliente -->
    <div class="row">
      <label class="col-form-label">Cliente:</label>
      <div class="col">
        <div class="input-group mb-2">
            <input type="text"
                   class="form-control"
                   formControlName="cliente">
                   <button class="btn btn-outline-secondary btn btn-outline-danger" type="reset" id="button-addon2" >Borrar</button>
        </div>
      </div>
    </div>

     <!-- referencia -->

     <div class="row">
       <label class="col-form-label">Referencia:</label>
       <div class="col">
        <div class="input-group mb-2">
           <input type="text"
                  class="form-control"
                  formControlName="referencia">
                  <button class="btn btn-outline-secondary btn btn-outline-danger"
                  type="reset" id="button-addon2">Borrar</button>
        </div>
       </div>
     </div>

     <!-- usuario -->
     <div class="row">
       <label class="col-form-label">Usuario:</label>
       <div class="col">
         <div class="input-group mb-2">
             <input type="text"
                    class="form-control"
                    formControlName="usuario">
                    <button class="btn btn-outline-secondary btn btn-outline-danger" type="reset" id="button-addon2">Borrar</button>
         </div>
       </div>
     </div>

 
    <!-- fecha -->
    <div class="row">
      <label class="col-form-label">Fecha:</label>
      <div class="col">
        <div class="input-group mb-2">
           <input id="secondDateRange" class="form-control" type="date" name="dateRange"
                  placeholder="From - To" formControlName="fecha1" />  
          <input id="secondDateRange" class="form-control" type="date" name="dateRange"
                  placeholder="From - To" formControlName="fecha2" /> 
                  <button class="btn btn-outline-secondary btn btn-outline-danger" type="reset" id="button-addon2">Borrar</button>
        </div>
      </div>
    </div>

  <!-- tipo -->
   <div class="row">
     <label class="col-form-label">Tipo:</label>
     <div class="col">
       <div class="input-group mb-2">
           <select class="form-select" aria-label="Default select example" formControlName="tipo">
               <option selected>Todos</option>
               <option *ngFor="let tipo of tipos"> {{tipo}}</option>
           </select>    
           <button class="btn btn-outline-secondary btn btn-outline-danger" type="reset" id="button-addon2">Borrar</button>
       </div>
     </div>
   </div>

    <!-- Estado -->
    <div class="row">
      <label class="col-form-label">Estado:</label>
      <div class="col">
          <div class="form-check" *ngFor="let estado of estados; let i=index">
            <input class="form-check-input"
                  type="checkbox"
                  [value]="estado"
                  [id]="estado"
                  formArraylName="estado"
                  (change)="marcado($event)">
            <label class="form-check-label" [for]="estado">
              {{estado}}
            </label>
          </div>
      </div>
    </div>

    <!-- Boton -->
    <div class="row boton">
            <button type="submit"
                    class="btn btn-outline-primary boton">
                    <i class="bi bi-search"></i>
                    Buscar
            </button>
    </div>
   
</form>